.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

body {
  background: linear-gradient(to bottom, lightblue, rgb(43, 43, 220));
  margin: 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.left, .right {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 20px;
}

#p2 {
  transform: scaleX(-1);
}

h2 {
  font-size: 24px;
  margin-top: 30px;
}

.stickman {
  margin-top: 30px;
  width: 150px;
  height: 150px;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.button {
  width: 80px;
  height: 80px;
  margin: 0 10px;
  border: none;
  border-radius: 15%;
  background-color: white;
  color: black;
  font-size: 16px;
  cursor: pointer;
}

.button:disabled{
  background-color: rgb(34, 34, 34);
}